/*************************INSTRUCCIONES***************************/
#instrucciones{
    position: absolute;
    width: 100%;
    height: 464px;
    top: 43px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.instrucciones-off{
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.5s, visibility 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0.5s;
}
.instrucciones-on{
    opacity: 1;
    visibility: visible;

    transition: opacity 0.5s, visibility 0s;
    -webkit-transition: opacity 0.5s, visibility 0s;
}

#instrucciones-box-wrap{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    /*scrollbar-color: #CCCCCC #FFFFFF;*/
    scrollbar-width: thin;
}
#instrucciones-box-wrap::-webkit-scrollbar,
#instrucciones-box-wrap::-webkit-scrollbar {
    width: 8px;
    background-color: #FFFFFF;
}
#instrucciones-box-wrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #CCCCCC;
}
#instrucciones-box{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    margin: 0px;
    padding: 15px 10px;
    width: 400px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}
#instrucciones_title{
    position: relative;
    width: 100%;
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #444444;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

#instrucciones-close-btn{
    position: absolute;
    width: 14px;
    height: 14px;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
#instrucciones-close-btn:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#instrucciones-close-btn::after,
#instrucciones-close-btn::before{
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    background-color: #f69e06;
    border-radius: 2px;
    top: 50%;
    top: calc(50% - 1px);
    top: -moz-calc(50% - 1px);
    left: 50%;
    left: calc(50% - 7px);
    left: -moz-calc(50% - 7px);

    transform-origin: center;
    -webkit-transform-origin: center;
    -o-transform-origin: center;
}
#instrucciones-close-btn::after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#instrucciones-close-btn::before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}


#instrucciones-gif{
    position: relative;
    width: 350px;
    height: 150px;
    box-sizing: border-box;
    
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F9F9F9;
}

#instrucciones-box-wrap > p{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0px;
    padding: 0px;

    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    color: #444444;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
.instrucciones-starts{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 21px;
    margin: 0px;
    padding: 0px;
}
.instrucciones-star{
    position: relative;
    display: flex;
    width: 21px;
    height: 21px;
    box-sizing: border-box;
    margin: 0px 10px;
    padding: 0px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/star-icon.svg);
}

/*********GIF ANIMADO**********/
.demo-ruleta{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    top: calc(50% - 50px);
    top: -moz-calc(50% - 50px);
    border-radius: 50%;
    left: 20px;

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: #f69e06 solid 1px;
}
.demo-ruleta > div{
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #444444;
    text-align: center;
    font-weight: normal;
    line-height: normal;

    transform: translateX(-10px) translateY(-10px);
    -webkit-transform: translateX(-10px) translateY(-10px);
    -o-transform: translateX(-10px) translateY(-10px);

    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

.demo-ruleta-l1{
    left: 50%;
    top: 0px;
    animation-name: animacion-letra-demo1;
    -webkit-animation-name: animacion-letra-demo1;
}
.demo-ruleta-l2{
    top: 25%;
    left: 94%;
    animation-name: animacion-letra-demo2;
    -webkit-animation-name: animacion-letra-demo2;
}
.demo-ruleta-l3{
    top: 75%;
    left: 94%;
    animation-name: animacion-letra-demo3;
    -webkit-animation-name: animacion-letra-demo3;
}
.demo-ruleta-l4{
    top: 100%;
    left: 50%;
    animation-name: animacion-letra-demo4;
    -webkit-animation-name: animacion-letra-demo4;
}
.demo-ruleta-l5{
    top: 75%;
    left: 6%;
    animation-name: animacion-letra-demo5;
    -webkit-animation-name: animacion-letra-demo5;
}
.demo-ruleta-l6{
    top: 25%;
    left: 6%;
    animation-name: animacion-letra-demo6;
    -webkit-animation-name: animacion-letra-demo6;
}

.demo-info{
    position: absolute;
    width: 100%;
    width: calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    height: 150px;
    margin: 0px;
    padding: 0px;
    right: 20px;
}
    
.demo-info-input{
    position: absolute;
    width: 100%;
    height: 20px;
    border: #FF6B00 solid 1px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    top: 50%;
    top: calc(50% - 25px);
    top: -moz-calc(50% - 25px);
    left: 0px;

    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    color: #444444;
    text-align: center;
    line-height: normal;
}

.demo-info-btn1,
.demo-info-btn2{
    position: absolute;
    width: 50%;
    width: calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    height: 20px;

    font-family: 'Quicksand', sans-serif;
    color: #000000;
    font-size: 11px;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    top: calc(50% + 5px);
    top: -moz-calc(50% + 5px);
}

.demo-info-btn1{
    background-color: #A3A3A3;
    left: 0px;
}
.demo-info-btn2{
    background-color: #feb30c;
    right: 0px;
}