/*************************INSTRUCCIONES***************************/
#instrucciones{
    position: absolute;
    width: 100%;
    height: 464px;
    top: 43px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.instrucciones-off{
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.5s, visibility 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0.5s;
}
.instrucciones-on{
    opacity: 1;
    visibility: visible;

    transition: opacity 0.5s, visibility 0s;
    -webkit-transition: opacity 0.5s, visibility 0s;
}

#instrucciones-box-wrap{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    /*scrollbar-color: #CCCCCC #FFFFFF;*/
    scrollbar-width: thin;
}
#instrucciones-box-wrap::-webkit-scrollbar,
#instrucciones-box-wrap::-webkit-scrollbar {
    width: 8px;
    background-color: #FFFFFF;
}
#instrucciones-box-wrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #CCCCCC;
}
#instrucciones-box{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    margin: 0px;
    padding: 15px 10px;
    width: 400px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}
#instrucciones_title{
    position: relative;
    width: 100%;
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #444444;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

#instrucciones-close-btn{
    position: absolute;
    width: 14px;
    height: 14px;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
#instrucciones-close-btn:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#instrucciones-close-btn::after,
#instrucciones-close-btn::before{
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    background-color: #f69e06;
    border-radius: 2px;
    top: 50%;
    top: calc(50% - 1px);
    top: -moz-calc(50% - 1px);
    left: 50%;
    left: calc(50% - 7px);
    left: -moz-calc(50% - 7px);

    transform-origin: center;
    -webkit-transform-origin: center;
    -o-transform-origin: center;
}
#instrucciones-close-btn::after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#instrucciones-close-btn::before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}


#instrucciones-gif{
    position: relative;
    width: 350px;
    height: 150px;
    box-sizing: border-box;
    
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f4f4f4;
}

#instrucciones-box-wrap > p{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0px;
    padding: 0px;

    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    color: #444444;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
.instrucciones-starts{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 21px;
    margin: 0px;
    padding: 0px;
}
.instrucciones-star{
    position: relative;
    display: flex;
    width: 21px;
    height: 21px;
    box-sizing: border-box;
    margin: 0px 10px;
    padding: 0px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/star-icon.svg);
}