@media (min-width: 845px){
    html,body{
        position: relative;
        width: 845px;
        height: 507px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    /**********CONTENIDO AQUI************/
    .rulette-off{
		left: 30px;
	}
	.rulette-on{
		left: 50%;
		left: calc(50% - 150px);
		left: -moz-calc(50% - 150px);
	}
	.informacion-off{
		top: 45%;
		opacity: 0;
		visibility: hidden;
		transition: top 0.4s, opacity 0.4s, visibility 0.4s;
		-webkit-transition: top 0.4s, opacity 0.4s, visibility 0.4s;
	}
	.informacion-on{
		top: 50%;
		opacity: 1;
		visibility: visible;
		transition: top 0.4s, opacity 0.4s, visibility 0s;
		-webkit-transition: top 0.4s, opacity 0.4s, visibility 0s;
	}
    #comprobar-btn{
		cursor: pointer;
	}
    .saltar-btn-unlocked{
		cursor: pointer;
	}
	#comprobar-btn:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #f19e01;
	}
	.saltar-btn-unlocked:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #919191;
	}

	/************INSTRUCCIONES***********/
	
	/************************************/

	/************END CONTENT*************/

	#modal-continue-btn:hover{
	    box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.8);
	}
}

@media (min-width: 710px) and (max-width: 844px){
    html,body{
        position: relative;
        width: 710px;
        height: 426px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    #tra_contenedor{
		width: 710px;
		height: 426px;
	}

	#tra_body{
	    height: 100%;
	    height: calc(100% - 30px);
	    height: -moz-calc(100% - 30px);
	    width: 100%;
	    top: 30px;
	    padding-top: 15px;
	}
	
	/**********CONTENIDO AQUI************/
	#rulette{/*rueda ruleta*/
		width: 250px;
		height: 250px;
	}
	.rulette-off{
		left: 20px;
	}
	.rulette-on{
		left: 50%;
		left: calc(50% - 125px);
		left: -moz-calc(50% - 125px);
	}
	.rulette-letra-icon{
		width: 25px;
		height: 25px;
		
		transform: translateX(-12.5px) translateY(-12.5px);
		-webkit-transform: translateX(-12.5px) translateY(-12.5px);
		-o-transform: translateX(-12.5px) translateY(-12.5px);
	}
	.rulette-letra-icon p{
		font-size: 14px;
	}

	#informacion{
		width: 300px;
		width: calc(100% - (250px + 60px));
		width: -moz-calc(100% - (250px + 60px));
		
		margin: 0px;
		padding: 0px;
		right: 10px;
	}
	.informacion-off{
		top: 45%;
		opacity: 0;
		visibility: hidden;
		transition: top 0.4s, opacity 0.4s, visibility 0.4s;
		-webkit-transition: top 0.4s, opacity 0.4s, visibility 0.4s;
	}
	.informacion-on{
		top: 50%;
		opacity: 1;
		visibility: visible;
		transition: top 0.4s, opacity 0.4s, visibility 0s;
		-webkit-transition: top 0.4s, opacity 0.4s, visibility 0s;
	}
	#informacion-title{
		margin-bottom: 10px;
	}
	.informaicon-buttons{
		margin-top: 15px;
	}
	#comprobar-btn,#saltar-btn{
		width: 120px;
		height: 35px;
	}
	#comprobar-btn:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #f19e01;
	}
	.saltar-btn-unlocked:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #919191;
	}
	#comprobar-btn{
		cursor: pointer;
	}
    .saltar-btn-unlocked{
		cursor: pointer;
	}
	#comprobar-btn:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #f19e01;
	}
	.saltar-btn-unlocked:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #919191;
	}

	#tabla{
		width: 300px;
		width: calc(100% - (250px + 60px));
		width: -moz-calc(100% - (250px + 60px));
		
		margin: 0px;
		padding: 0px;
		right: 10px;
	}
	#tabla-msg{
		margin-bottom: 10px;
	}
	#tabla-stats{
		max-height: 300px;
	}
	.tabla-stats-palabra-header{
		height: 20px;
	}
	.tabla-stats-palabra-icon{
		width: 25px;
	}
	.tabla-stats-palabra-letra{
		width: 25px;
		font-family: 14px;
	}
	.tabla-stats-palabra-results{
		width: auto;
		width: calc(100% - 50px);
		width: -moz-calc(100% - 50px);
	}
	/************END CONTENT*************/

	/************INSTRUCCIONES***********/
	#instrucciones{
	    height: 396px;
	    top: 30px;
	}
	#instrucciones-box-wrap{
	    max-height: 350px;
	}
	#instrucciones_title{
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	/************************************/
	#modal{
	    height: 396px;
	    top: 30px;
	}
	#modal-continue-btn:hover{
	    box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.8);
	}
}

@media (min-width: 530px) and (max-width: 709px){
    html,body{
        position: relative;
        width: 530px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0px;
        padding: 0px;
    }

    #tra_contenedor{
		width: 530px;
		height: 600px;
	}

	#tra_body{
	    height: 100%;
	    height: calc(100% - 40px);
	    height: -moz-calc(100% - 40px);
	    width: 100%;
	    top: 40px;
	    padding-top: 15px;
	}

	/**********CONTENIDO AQUI************/
	.rulette-row{
		display: block;
	}
	#rulette{/*rueda ruleta*/
		width: 250px;
		height: 250px;
		position: relative;
		transition: none;
		-webkit-transition: none;
		margin: 0px auto;
		margin-top: 15px;
	}
	.rulette-off{
		
	}
	.rulette-on{
		
	}
	.rulette-letra-icon{
		width: 25px;
		height: 25px;
		
		transform: translateX(-12.5px) translateY(-12.5px);
		-webkit-transform: translateX(-12.5px) translateY(-12.5px);
		-o-transform: translateX(-12.5px) translateY(-12.5px);
	}
	.rulette-letra-icon p{
		font-size: 14px;
	}

	#informacion{
		width: 100%;
		width: calc(100% - 30px);
		width: -moz-calc(100% - 30px);
		
		right: 15px;
		transform: none;
		-webkit-transform: none;
		-o-transform: none;
	}
	.informacion-off{
		top: 250px;
		opacity: 0;
		visibility: hidden;
		transition: top 0.4s ease-out, opacity 0.4s ease-out, visibility 0.4s ease-out;
		-webkit-transition: top 0.4s ease-out, opacity 0.4s ease-out, visibility 0.4s ease-out;
	}
	.informacion-on{
		top: 280px;
		opacity: 1;
		visibility: visible;
		transition: top 0.4s ease-out, opacity 0.4s ease-out, visibility 0s ease-out;
		-webkit-transition: top 0.4s ease-out, opacity 0.4s ease-out, visibility 0s ease-out;
	}
	#informacion-title{
		margin-bottom: 10px;
	}
	.informaicon-buttons{
		margin-top: 15px;
	}
	#comprobar-btn,#saltar-btn{
		width: 120px;
		height: 35px;
	}
	#comprobar-btn:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #f19e01;
	}
	.saltar-btn-unlocked:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #919191;
	}
	#comprobar-btn{
		cursor: pointer;
	}
    .saltar-btn-unlocked{
		cursor: pointer;
	}
	#comprobar-btn:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #f19e01;
	}
	.saltar-btn-unlocked:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #919191;
	}

	#tabla{
		position: relative;
		width: 100%;
		width: calc(100% - 30px);
		width: -moz-calc(100% - 30px);
		
		margin: 0px auto;
		margin-top: 30px;
		top: initial;
		right: initial;
		transform: none;
		-webkit-transform: none;
		-o-transform: none;
	}

	#tabla-msg{
		margin-bottom: 10px;
	}
	#tabla-stats{
		max-height: 300px;
	}
	.tabla-stats-palabra-header{
		height: 20px;
	}
	.tabla-stats-palabra-icon{
		width: 25px;
	}
	.tabla-stats-palabra-letra{
		width: 25px;
		font-family: 14px;
	}
	.tabla-stats-palabra-results{
		width: auto;
		width: calc(100% - 50px);
		width: -moz-calc(100% - 50px);
	}
	/************END CONTENT*************/

	/************INSTRUCCIONES***********/
	#instrucciones{
	    height: 560px;
		align-items: center;
		z-index: 1;
	}
	#instrucciones-box{
		margin: 0px auto;
	}
	#instrucciones-box-wrap > p{
		margin: 15px 0px;
	}
	#instrucciones-box-wrap{
	    max-height: 510px;
	}
	#instrucciones_title{
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	#instrucciones-close-btn{
		cursor: default;
	}
	#instrucciones-gif{
		height: 220px;
	}
	.demo-ruleta{
		top: 20px;
		left: 50%;
		left: calc(50% - 50px);
		left: -moz-calc(50% - 50px);
		animation: none;
		animation: unset;
		-webkit-animation: none;
		-webkit-animation: unset;
	}
	.demo-info{
	    top: 140px;
	    height: 60px;
	    right: initial;
	    left: 50%;
	    transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
	}
	/************************************/
	
	#modal{
	    height: 560px;
	    top: 40px;
	    z-index: 2;
	}
	#modal-continue-btn{
	    width: 150px;
	    height: 35px;
	    
	    font-size: 14px;
	}
}

@media (min-width: 280px) and (max-width: 529px){
    html,body{
        position: relative;
        width: 100%;
        height: 700px;
        overflow-x: hidden;
        overflow-y: auto;
        
        margin: 0px;
        padding: 0px;
    }

    #tra_contenedor{
		width: 100%;
		height: 700px;
	}

	#tra_body{
	    height: 100%;
	    height: calc(100% - (45px + 40px));/*reloj*/
	    height: -moz-calc(100% - (45px + 40px));/*reloj*/
	    width: 100%;
	    top: 45px;    
	}	
	
	/**********CONTENIDO AQUI************/
	.rulette-row{
		display: block;
	}
	#rulette{/*rueda ruleta*/
		width: 250px;
		height: 250px;
		position: relative;
		transition: none;
		-webkit-transition: none;
		margin: 0px auto;
		margin-top: 15px;
	}
	.rulette-off{
		
	}
	.rulette-on{
		
	}
	.rulette-letra-icon{
		width: 25px;
		height: 25px;
		
		transform: translateX(-12.5px) translateY(-12.5px);
		-webkit-transform: translateX(-12.5px) translateY(-12.5px);
		-o-transform: translateX(-12.5px) translateY(-12.5px);
	}
	.rulette-letra-icon p{
		font-size: 14px;
	}

	#informacion{
		width: 100%;
		width: calc(100% - 20px);
		width: -moz-calc(100% - 20px);
		
		right: 10px;
		top: 300px;
		transform: none;
		-webkit-transform: none;
		-o-transform: none;
	}
	.informacion-off{

		opacity: 0;
		visibility: hidden;
		transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
		-webkit-transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
	}
	.informacion-on{
		opacity: 1;
		visibility: visible;
		transition: opacity 0.4s ease-out, visibility 0s ease-out;
		-webkit-transition: opacity 0.4s ease-out, visibility 0s ease-out;
	}
	#informacion-title{
		margin-bottom: 10px;
	}
	.informaicon-buttons{
		margin-top: 15px;
	}
	#comprobar-btn,#saltar-btn{
		width: 120px;
		height: 35px;
	}
	#comprobar-btn:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #f19e01;
	}
	.saltar-btn-unlocked:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #919191;
	}
	#comprobar-btn{
		cursor: pointer;
	}
    .saltar-btn-unlocked{
		cursor: pointer;
	}
	#comprobar-btn:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #f19e01;
	}
	.saltar-btn-unlocked:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #919191;
	}

	#tabla{
		position: relative;
		width: 100%;
		width: calc(100% - 20px);
		width: -moz-calc(100% - 20px);
		
		margin: 0px auto;
		margin-top: 30px;
		top: initial;
		right: initial;
		transform: none;
		-webkit-transform: none;
		-o-transform: none;
	}

	#tabla-msg{
		margin-bottom: 10px;
	}
	#tabla-stats{
		max-height: 240px;
	}
	.tabla-stats-palabra-header{
		height: 20px;
	}
	.tabla-stats-palabra-icon{
		width: 25px;
	}
	.tabla-stats-palabra-letra{
		width: 25px;
		font-family: 14px;
	}
	.tabla-stats-palabra-results{
		width: auto;
		width: calc(100% - 50px);
		width: -moz-calc(100% - 50px);
	}
	/************END CONTENT*************/

	/************INSTRUCCIONES***********/
	#instrucciones{
		height: 100%;
		align-items: flex-start;
	}
	#instrucciones-box{
		width: 300px;
		margin: 0px auto;
		margin-top: 30px;
	}
	#instrucciones-box-wrap > p{
		margin: 15px 0px;
	}
	#instrucciones-box-wrap{
	    max-height: 570px;
	}
	#instrucciones_title{
	    font-size: 15px;
	    margin-bottom: 10px;
	}
	#instrucciones-close-btn{
		cursor: default;
	}
	#instrucciones-gif{
		width: 280px;
		height: 220px;
	}
	.demo-ruleta{
		top: 20px;
		left: 50%;
		left: calc(50% - 50px);
		left: -moz-calc(50% - 50px);
		animation: none;
		animation: unset;
		-webkit-animation: none;
		-webkit-animation: unset;
	}
	.demo-info{
		width: 200px;
	    top: 140px;
	    height: 60px;
	    right: initial;
	    left: 50%;
	    transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
	}
	/************************************/
	
	#modal{
	    height: 100%;
	    height: calc(100% - 45px);
	    height: -moz-calc(100% - 45px);
	    top: 45px;
	    z-index: 200;
	}
	#modal-continue-btn{
	    width: 150px;
	    height: 35px;
	    
	    font-size: 14px;
	}

	#modal-msg{
	    width: 300px;
	}

}