@media (min-width: 845px){
    html,body{
        position: relative;
        width: 845px;
        height: 507px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    /**********CONTENIDO AQUI************/
    #comprobar-btn{
		cursor: pointer;
	}
    .saltar-btn-unlocked{
		cursor: pointer;
	}
	#comprobar-btn:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #f19e01;
	}
	.saltar-btn-unlocked:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #919191;
	}
	/************END CONTENT*************/

	.modal-continue-btn:hover{
	    filter: brightness(105%);
	    -webkit-filter: brightness(105%);
	    -o-filter: brightness(105%);
	}
	.modal-continue-btn:hover::after{
	    animation-name: animacion-continue-btn;
	    animation-duration: 0.5s;
	    animation-timing-function: linear;
	    animation-iteration-count: infinite;
	    -webkit-animation-name: animacion-continue-btn;
	    -webkit-animation-duration: 0.5s;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-iteration-count: infinite;
	}
}

@media (min-width: 710px) and (max-width: 844px){
    html,body{
        position: relative;
        width: 710px;
        height: 426px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    #tra_contenedor{
		width: 710px;
		height: 426px;
	}

	#tra_body{
	    height: 100%;
	    height: calc(100% - 30px);
	    height: -moz-calc(100% - 30px);
	    width: 100%;
	    top: 30px;
	    padding-top: 15px;
	}
	
	/**********CONTENIDO AQUI************/
	#rulette{/*rueda ruleta*/
		width: 250px;
		height: 250px;
	}
	.rulette-off{
		left: 20px;
	}
	.rulette-on{
		left: 50%;
		left: calc(50% - 125px);
		left: -moz-calc(50% - 125px);
	}
	.rulette-letra-icon{
		width: 25px;
		height: 25px;
		
		transform: translateX(-12.5px) translateY(-12.5px);
		-webkit-transform: translateX(-12.5px) translateY(-12.5px);
		-o-transform: translateX(-12.5px) translateY(-12.5px);
	}

	#informacion{
		width: 300px;
		width: calc(100% - (250px + 60px));
		width: -moz-calc(100% - (250px + 60px));
		
		margin: 0px;
		padding: 0px;
		right: 10px;
	}
	#informacion-title{
		margin-bottom: 10px;
	}
	.informaicon-buttons{
		margin-top: 15px;
	}
	#comprobar-btn,#saltar-btn{
		width: 120px;
		height: 35px;
	}
	#comprobar-btn:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #f19e01;
	}
	.saltar-btn-unlocked:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #919191;
	}
	#comprobar-btn{
		cursor: pointer;
	}
    .saltar-btn-unlocked{
		cursor: pointer;
	}
	#comprobar-btn:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #f19e01;
	}
	.saltar-btn-unlocked:hover{
		box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
		background: #919191;
	}

	#tabla{
		width: 300px;
		width: calc(100% - (250px + 60px));
		width: -moz-calc(100% - (250px + 60px));
		
		margin: 0px;
		padding: 0px;
		right: 10px;
	}
	#tabla-msg{
		margin-bottom: 10px;
	}
	#tabla-stats{
		max-height: 300px;
	}
	.tabla-stats-palabra-header{
		height: 20px;
	}
	.tabla-stats-palabra-icon{
		width: 25px;
	}
	.tabla-stats-palabra-letra{
		width: 25px;
	}
	.tabla-stats-palabra-results{
		width: auto;
		width: calc(100% - 50px);
		width: -moz-calc(100% - 50px);
	}
	/************END CONTENT*************/

	#modal{
	    height: 396px;
	    top: 30px;
	}
	.modal-continue-btn:hover{
	    filter: brightness(105%);
	    -webkit-filter: brightness(105%);
	    -o-filter: brightness(105%);
	}
	.modal-continue-btn:hover::after{
	    animation-name: animacion-continue-btn;
	    animation-duration: 0.5s;
	    animation-timing-function: linear;
	    animation-iteration-count: infinite;
	    -webkit-animation-name: animacion-continue-btn;
	    -webkit-animation-duration: 0.5s;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-iteration-count: infinite;
	}
	#instrucciones{
	    height: 396px;
	    top: 30px;
	}
	#instrucciones-box-wrap{
	    max-height: 350px;
	}
	#instrucciones_title{
	    font-size: 16px;
	    margin-bottom: 10px;
	}
}

@media (min-width: 530px) and (max-width: 709px){
    html,body{
        position: relative;
        width: 530px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0px;
        padding: 0px;
    }

    #tra_contenedor{
		width: 530px;
		height: 600px;
	}

	#tra_body{
	    height: 100%;
	    height: calc(100% - 40px);
	    height: -moz-calc(100% - 40px);
	    width: 100%;
	    top: 40px;
	    padding-top: 15px;
	}

	/**********CONTENIDO AQUI************/
	
	/************END CONTENT*************/
	
	#modal{
	    height: 560px;
	    top: 40px;
	    z-index: 2;
	}
	.modal-continue-btn{
	    width: 150px;
	    height: 35px;
	    
	    font-size: 14px;
	    padding-right: 25px;
	}
	.modal-continue-btn::after{
	    width: 25px;
	    height: 25px;
	    top: 50%;
	    top: calc(50% - 12.5px);
	    top: -moz-calc(50% - 12.5px);
	    right: 5px;
	    
	    background-size: 18px 18px;
	}

	#instrucciones{
	    height: 560px;
		align-items: center;
		z-index: 1;
	}
	#instrucciones-box{
		margin: 0px auto;
	}
	#instrucciones-box-wrap > p{
		margin: 15px 0px;
	}
	#instrucciones-box-wrap{
	    max-height: 510px;
	}
	#instrucciones_title{
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	#instrucciones-close-btn{
		cursor: default;
	}
}

@media (min-width: 280px) and (max-width: 529px){
    html,body{
        position: relative;
        width: 100%;
        height: 700px;
        overflow-x: hidden;
        overflow-y: auto;
        
        margin: 0px;
        padding: 0px;
    }

    #tra_contenedor{
		width: 100%;
		height: 700px;
	}

	#tra_body{
	    height: 100%;
	    height: calc(100% - (45px + 40px));/*reloj*/
	    height: -moz-calc(100% - (45px + 40px));/*reloj*/
	    width: 100%;
	    top: 45px;    
	}	
	
	/**********CONTENIDO AQUI************/
	
	/************END CONTENT*************/
	
	#modal{
	    height: 100%;
	    height: calc(100% - 45px);
	    height: -moz-calc(100% - 45px);
	    top: 45px;
	    z-index: 200;
	}
	.modal-continue-btn{
	    width: 150px;
	    height: 35px;
	    
	    font-size: 14px;
	    padding-right: 25px;
	}
	.modal-continue-btn::after{
	    width: 25px;
	    height: 25px;
	    top: 50%;
	    top: calc(50% - 12.5px);
	    top: -moz-calc(50% - 12.5px);
	    right: 5px;
	    
	    background-size: 18px 18px;
	}

	#modal-msg{
	    width: 300px;
	    height: 165px;
	}
	.modal-off #modal-msg{
	    left: -300px;
	}

	#instrucciones{
	    height: 100%;
	    height: calc(100% - 40px);
	    height: -moz-calc(100% - 40px);
	    z-index: 1;
	    align-items: flex-start;
	}
	#instrucciones-gif{
	    width: 280px;
	    height: 150px;
	}
	#instrucciones-box{
		width: 300px;
		margin: 0px auto;
		margin-top: 30px;
	}
	#instrucciones-box-wrap > p{
		margin: 15px 0px;
	}
	#instrucciones-box-wrap{
	    max-height: 570px;
	}
	#instrucciones_title{
	    font-size: 15px;
	    margin-bottom: 10px;
	}
	#instrucciones-close-btn{
		cursor: default;
	}
}